/* ヘッダー全体のスタイル */
.header {
  position: fixed; /* 固定表示 */
  top: 0;
  height: 10vh; /* 高さをページの10% */
  width: 100%;
  max-width: 800px;
  display: flex; /* 子要素を横並びに */
  align-items: center; /* 縦中央揃え */
  background-color: #f3eae0; /* 背景色 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

/* アプリタイトルのスタイル */
.app-title {
  font-size: 1.5rem; /* フォントサイズ */
  font-weight: bold; /* 太字 */
  color: #223148; /* テキストカラー */
  margin: 0; /* 余白リセット */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 水平方向に中央揃え */
  transform: translateX(-50%);
}

/* プロフィール画像のコンテナ */
.user-icon {
  width: 40px; /* コンテナの幅 */
  height: 40px; /* コンテナの高さ */
  border-radius: 50%; /* 丸い形にする */
  overflow: hidden; /* アイコンが枠を超えないようにする */
  border: 2px solid #223148; /* 枠線のスタイル */
  margin-left: 16px; 
}

/* ユーザーアイコン画像 */
.user-profile-icon {
  width: 100%; /* アイコンをコンテナに合わせる */
  height: 100%; /* 高さも合わせる */
  object-fit: cover; /* アイコンを中央で収める */
}
