/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* エラーメッセージ */
.error-alert {
  margin-bottom: 16px;
  padding: 12px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
}

body {
  background-color: #2f486d; /* 背景色 */
  color: #e0e0e0; /* 文字色 */
  min-height: 100vh; /* 画面全体の高さを確保 */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
  
.body__container {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
}


@media screen {
  * {font-size: 16px; }  
  }