.login-form {
  max-height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  background-color: #2f486d;
  color: white;
}

.form-header-text {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 24px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.form-group {
  width: 100%; /* フォームグループの幅 */
  margin-bottom: 24px; /* 下部の余白 */
}

.form-label {
  font-size: 16px; /* ラベルのフォントサイズ */
  font-weight: bold; /* 太字 */
}

.form-input {
  width: 80%; /* 入力欄の幅をフォームいっぱいに */
  padding: 12px; /* 内側余白 */
  font-size: 16px; /* フォントサイズ */
  border: none; /* ボーダーなし */
  border-radius: 8px; /* 角を丸める */
  background-color: #ffffff; /* 背景色 */
  color: #2f486d; /* 文字色 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 入力欄の影 */
}

.form-input:focus {
  outline: 2px solid #4caf50; /* フォーカス時のアウトライン色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* フォーカス時の影 */
}

.form-actions {
  margin-top: 16px; /* 上部の余白 */
  width: 100%; /* ボタン幅 */
}

.btn-primary {
  width: 100%; /* ボタンをフォーム幅いっぱいに */
  padding: 16px; /* 内側余白 */
  font-size: 18px; /* フォントサイズ */
  font-weight: bold; /* 太字 */
  color: white; /* 白文字 */
  background-color: #223148; /* 背景色 */
  border: none; /* ボーダーなし */
  border-radius: 12px; /* 角を丸める */
  cursor: pointer; /* カーソルをポインタに */
  text-transform: uppercase; /* 大文字に変換 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ボタンの影 */
  transition: background-color 0.3s ease, transform 0.3s ease; /* スムーズな変化 */
}

.btn-primary:hover {
  background-color: #f3eae0;
  color: #223148;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.error-text {
  color: #ff4d4d; /* エラー文字の色 */
  font-size: 14px; /* フォントサイズ */
  margin-top: 4px; /* 上部の余白 */
  display: block; /* 表示設定 */
}

.account-link-container {
  margin-top: 16px;
  text-align: center;
}

.account-link {
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.account-link:hover {
  color: #4caf50;
  opacity: 1;
}

.error-text {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}
